//****** Variables and Mixin Declaration *******///

:root {
  --Clr-primary: #03e9f4;
  --bg-dark: #18191f;
  --Clr-link: #f5f0bb;
}

$darkClr: #18191f;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: arial, san-serif;
  background-color: var(--bg-dark);
  width: 100%;
  padding: 1% 7%;
}

//******** Home Page ***********//
header {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: moves 3s ease;

  .inner {
    width: min(100%, 500px);
  }

  P {
    text-align: center;
    font-size: clamp(2rem, 1rem + 5vw, 5rem);
    font-weight: 200;
    font-style: italic;
    color: var(--Clr-primary);
    padding: 0.5em 1em;
    border: 5px solid var(--Clr-primary);
    border-radius: 8px;
    animation: flicker 5s infinite alternate;
    animation-delay: 3.5s;
  }
}

//**** Skill Sets Page ****//
#skillSets {
  color: var(--Clr-primary);
  line-height: 1.6;
  width: min(90%, 700px);
  padding: 2em;
  margin: 100px auto;
  border-radius: 5px;
  box-shadow: 0 2px 5px var(--Clr-primary);

  
  .title {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    h2 {
      text-align: center;
      font-size: 1.5rem;
      font-size: clamp(1.25rem, 5vw + 1rem, 2rem);
      font-weight: 800;
      letter-spacing: 2px;
      text-transform: capitalize;
      text-decoration: underline;
    }

    a {
      all: unset;
      color: var(--Clr-link);
      cursor: pointer;
      position: relative;

      &:hover,
      &:focus {
        text-decoration: underline;
      }

      &::after {
        content: "\203A";
        margin-left: 3px;
        position: absolute;
        left: 100%;
      }
    }
  }

  .languages {
    min-height: 160px;
    position: relative;

    p {
      letter-spacing: 1px;
      font-size: 1.125rem;
      font-size: clamp(1rem, 1rem + 10vw, 1.5rem);
      font-weight: 600;

      span {
        margin-left: 1em;
      }
    }

    @media screen and (min-width: 65rem) {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 155px;
        width: 5px;
        height: 160px;
        background: linear-gradient(
          360deg,
          transparent 50%,
          var(--Clr-primary) 30%
        );
        border-radius: 2px;
        opacity: 0.5;
        animation: rolling 60s linear infinite;
      }

      &::after {
        content: "";
        position: absolute;
        top: 30px;
        right: 155px;
        width: 5px;
        height: 100px;
        background: linear-gradient(
          360deg,
          transparent 50%,
          var(--Clr-primary) 30%
        );
        border-radius: 2px;
        opacity: 0.8;
        animation: rolling 3600s linear infinite;
      }
    }
  }
  .skills {
    margin-top: 2rem;
    line-height: 2;

    p {
      opacity: 0.7;

      &::before {
        content: "\29bf"+ " ";
      }
    }

    span {
      font-weight: 200;
      text-shadow: 0 0 5px var(--Clr-primary), 0 0 10px var(--Clr-primary);
    }
  }
}

//**** Projects Page ****//
#projects {
  width: min(90%, 1200px);
  padding: 2em;
  margin: 100px auto;
  color: var(--Clr-primary);
  border-radius: 5px;
  box-shadow: 0 2px 5px var(--Clr-primary);
  line-height: 1.6;

  @media screen and (min-width: 65rem) {
    margin-top: 0;
  }

  h2 {
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-size: 2rem;
    padding: 0.1em;
    margin-bottom: 5rem;

    span {
      text-decoration: underline;
      font-size: 2.5rem;
    }
  }

  .project {
    display: grid;
    gap: 4.88rem;

    &__content {
      > * + * {
        margin-top: 1rem;
      }

      a {
        all: unset;
        color: var(--Clr-link);
        cursor: pointer;
        position: relative;

        &:hover,
        &:focus {
          text-decoration: underline;
        }

        &::after {
          content: "\203A";
          margin-left: 3px;
          position: absolute;
          left: 100%;
        }
      }

      p {
        font-family: Verdana, sans-serif;
        font-size: 1.125rem;
        opacity: 0.8;
      }
    }

    &__title {
      width: 100%;
      text-align: center;
      font-size: 1.88rem;
      font-family: Georgia, serif;
      position: relative;
      overflow: hidden;

      span:nth-child(1) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, var(--Clr-primary));
        animation: animate1 1s linear infinite;
      }

      span:nth-child(2) {
        position: absolute;
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg, transparent, var(--Clr-primary));
        animation: animate2 1s linear infinite;
        animation-delay: 0.25s;
      }

      span:nth-child(3) {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(270deg, transparent, var(--Clr-primary));
        animation: animate3 1s linear infinite;
        animation-delay: 0.5s;
      }

      span:nth-child(4) {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg, transparent, var(--Clr-primary));
        animation: animate4 1s linear infinite;
        animation-delay: 0.75s;
      }
    }

    @media screen and (min-width: 65rem) {
      grid-template-columns: 1fr 1fr;
    }
  }
}

//****** Contact Me Page ***********//

#contactMe {
  width: 100%;
  padding: 2em 1em;
  margin: 100px auto;
  color: var(--Clr-primary);
  background-color: var(--bg-dark);
  border-radius: 5px;
  box-shadow: 0 2px 5px var(--Clr-primary);

  .email {
    font-size: 1rem;
    font-size: clamp(1rem, 5vw + 1rem, 1.5rem);
    color: var(--Clr-primary);
    width: max-content;
    margin: 0 auto;
    padding: 0.2em 0.5em;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;

    input,
    button,
    a {
      all: unset;

      &:hover {
        cursor: pointer;
      }
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg, transparent 70%, var(--Clr-primary));
      transition: 1s;
      opacity: 0;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    &:hover,
    &:focus,
    &:active {
      &::before,
      &::after {
        left: -0.5em;
        opacity: 1;
      }
    }
  }

  .linkedin {
    text-align: center;
    margin-top: 20px;
  }

  #linkedin {
    font-size: 4em;
    margin: 0 40px;
    padding: 11px 19px;
    border-radius: 29px;
    color: #fff;
    background-color: #18191f;
    text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
      0 0 200px #0072ff;
    box-shadow: 5px 2px 2px #00000080, 10px 1px 12px #00000080,
      2px 2px 10px #00000080, 2px 2px 3px #00000080,
      inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
      inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080;
    animation: changeClr 3s linear infinite;
  }
}

//********Animation functions **********//

//nav circle loop
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

//*** Home page animation ***//
@keyframes flicker {
  0%,
  18%,
  38%,
  58%,
  68%,
  88%,
  98% {
    text-shadow: 0 0 8px var(--Clr-primary), 0 0 18px var(--Clr-primary),
      0 0 28px var(--Clr-primary), 0 0 38px var(--Clr-primary);

    box-shadow: 0 0 2px var(--Clr-primary), 0 0 5px var(--Clr-primary),
      0 0 8px var(--Clr-primary), 0 0 10px var(--Clr-primary),
      inset 0 0 2px var(--Clr-primary), inset 0 0 5px var(--Clr-primary),
      inset 0 0 8px var(--Clr-primary), inset 0 0 10px var(--Clr-primary);
  }

  28%,
  48%,
  78% {
    text-shadow: none;
    box-shadow: none;
  }
}

@keyframes moves {
  0% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(0);
  }
}

//*** Skill Page Animation ***//
@keyframes rolling {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//*** Contact Me Animation ***//
@keyframes changeClr {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
